---
- hosts: all
  become: true
  tasks:

  -  name: install python3 and pip3
     package:
       name:
         - "{{ python_package }}"
         - "{{ pip_package }}"
       state: latest

   - name: set pip3 as default pip (Ubuntu)
     command: "ln -sf /usr/bin/pip3 /usr/bin/pip"
     when: 
       - ansible_distribution == "Ubuntu"
       - ansible_distribution == "Centos"
       
   - name: set python3 as default python (Ubuntu)
     command: "ln -sf /usr/bin/python3 /usr/bin/python"
     when: 
       - ansible_distribution == "Ubuntu"
       - ansible_distribution == "Centos"

   - name: install java openJDK
     package:
       name: "{{ jave_package }}"
       state: latest

   - name: create motd file
     template:
       src: /home/<motd.j2 path>
       dest: /etc/motd

   - name: ensure new user exists
     user:
       name: "{{ new_user }}"
       state: present

  #DELETE THE SCRIPT BELOW IF NOT NEEDED
   - name: set pip3 as default pip (Centos)
     command: "ln -sf /usr/bin/pip3 /usr/bin/pip"
     when: ansible_distribution == "Centos"
####################

